alabaster==0.7.13
appdirs==1.4.4
attrs==23.1.0
Babel==2.12.1
cattrs==22.2.0
certifi==2023.5.7
charset-normalizer==3.1.0
commonmark==0.9.1
Delorean==1.0.0
docutils==0.18.1
esbonio==0.16.1
exceptiongroup==1.1.1
humanize==4.6.0
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.2
lsprotocol==2023.0.0a1
MarkupSafe==2.1.2
numpy==1.24.3
omniindex==0.1.14
packaging==23.1
pandas==2.0.1
pluggy==1.0.0
pygls==1.0.2
Pygments==2.15.1
pyspellchecker==0.7.2
pytest==7.3.1
python-dateutil==2.8.2
pytz==2023.3
recommonmark==0.7.1
requests==2.30.0
simplejson==3.19.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==6.2.1
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.0.1
typeguard==3.0.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.2
